<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="~/Content/sideBar.css" />
    <style>
        /* Add CSS for Material Symbols font */
        
        .material-symbols-outlined {
            color: white;
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20; /* Reduce icon size, optional */
            margin-top:15px;
        }

        .sidebar-links li {
            display:flex;
        }
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 85px;
            display: flex;
            overflow-x: hidden;
            flex-direction: column;
            background: #161a2d;
            padding: 15px 10px;
            transition: all 0.4s ease;
        }
    </style>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <aside class="sidebar">
        <div class="sidebar-header">
            @*<img src="~/images/logo.png" alt="logo" />*@
            
        </div>
        <ul class="sidebar-links">
            <li>
                <span class="material-symbols-outlined">
                    menu
                </span>
                <br />
            </li>
            <li>
                <span class="material-symbols-outlined">
                    dashboard
                </span> @Html.ActionLink("Dashboard", "Index", "Home", null, new { @class = "nav-link" })
            </li>
            <li>
                <span class="material-symbols-outlined">
                    home
                </span>
                @Html.ActionLink("Tenants", "Tenants", "Home", null, new { @class = "nav-link" })
            </li>
            <li>
                <span class="material-symbols-outlined">
                    real_estate_agent
                </span>
                @Html.ActionLink("Properties", "Properties", "Home", null, new { @class = "nav-link" })
            </li>
            <li>
                <span class="material-symbols-outlined">
                    home_repair_service
                </span>
                @Html.ActionLink("Maintenances", "Maintenance", "Home", null, new { @class = "nav-link" })
            </li>
            <li>
                <span class="material-symbols-outlined">
                    notifications
                </span>
                @Html.ActionLink("Noticeboard", "Notifications", "Home", null, new { @class = "nav-link" })
            </li>
            <li>
                <span class="material-symbols-outlined">
                    receipt_long
                </span>
                @Html.ActionLink("Invoices", "Invoices", "Home", null, new { @class = "nav-link" })
            </li>
            <li>
                <span class="material-symbols-outlined">
                    person
                </span>
                @Html.ActionLink("Agents", "Agents", "Home", null, new { @class = "nav-link" })
            </li>
            <li>
                <span class="material-symbols-outlined">
                    home_work
                </span>
                @Html.ActionLink("Rents", "Rents", "Home", null, new { @class = "nav-link" })
            </li>
            <li>
                <span class="material-symbols-outlined">
                    note_alt
                </span>
                @Html.ActionLink("Applications", "Applications", "Home", null, new { @class = "nav-link" })
            </li>
            <li>
                <span class="material-symbols-outlined">
                    currency_exchange
                </span>
                @Html.ActionLink("Transactions", "Transactions", "Home", null, new { @class = "nav-link" })
            </li>
            <h4>
                <span>Account</span>
                <div class="menu-separator"></div>
            </h4>
   
            <li>
                <span class="material-symbols-outlined">
                    logout
                </span>
                @Html.ActionLink("Logout", "Logout", "Home", null, new { @class = "nav-link" })
            </li>
        </ul>
        @*<div class="user-account">
            <div class="user-profile">
                <img src="~/images/profile-img.jpg" alt="Profile Image" />
                <div class="user-detail">
                    <h3>Eva Murphy</h3>
                    <span>Web Developer</span>
                </div>
            </div>
        </div>*@
    </aside>
    <div class="container-body">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
